body {
  font-family: 'PT Sans', sans-serif;
}


.list-group-item{
  height: 130px;
  font-size: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 0;
  background: #ecf0f1;
  position: relative;
  overflow: hidden;
}

.list-group-item .header{
  float: left;
  width: 100%;
}

.list-group-item small{
  color: #656567;
  font-size: 10px;
  line-height: 10px;
}

.list-group-item div.wrapper{
  color: #95a5a6;
  text-align: center;
  float: left;
  width: 20%;
  display: block;
  padding-top: 10px;
}

.list-group-item div.wrapper .inside{
  float: left;
  width: 100%;
}

.list-group-item div.wrapper.score_sum{
  margin-right: 20px;
  font-family: 'Futura';
  font-weight: 'medium';
}

.list-group-item div.wrapper.putts{
  margin-right: 0;
  margin-left: 20px;
}

.list-group-item div.wrapper.strokes{
  width: 100px;
  color: #2ecc71;
  font-size: 50px;
  position: relative;
  z-index: 10;
  font-family: 'Futura';
  font-weight: 'medium';
  text-align: left;
}

.list-group-item span.strokes_over_par{
  color: #95a5a6;
  font-family: 'Futura';
  font-weight: 'medium';
  font-size: 14px;
}

.list-group-item .total_putts{
  color: #95a5a6;
  font-family: 'Futura';
  font-size: 16px;
  height: 25px;
}

.list-group-item .wrapper .smallpie{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  clear: both;
}

.list-group-item div.wrapper small{
  color: #b7b7b7;
  font-size: 8px;
  float: left;
  width: 100%;
  height: 8px;
  line-height: 8px;
  margin: 5px 0;
  font-family: 'PT Sans';
}

.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.strokebar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  z-index: 9;
}

.strokebar .parbar{
  float: left;
  height: 10px;
  width: 100%;
  border-top: 1px dashed #cad0d2;
/*  opacity: 0.2;
  background: #ecf0f1;*/
  position: absolute;
  bottom: 0;
  left: 0;
}
.strokebar .bar{
  height: 50px;
  float: left;
  width: 5.5555%;
  background: #dee3e5;
}

.navbar .btn-group {
  margin: 10px 10px 0 0;
}